html,
body {
  margin: 0;
  background-image: url(重點領域漸層底圖.png);
} 

.canvas{
    background-color: aliceblue;
    cursor: url("pic/pen.png"), auto;
}

#canvas2{
    background-color: transparent;
    position: absolute;
}

.text-style {
    float: left;
    position: absolute;
    left: 120px;
    top: 120px;
    font: 12px Ariel;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 1;
}

.range{
    position: absolute;
    top: 250px;
    left: 1000px;
}

.settingtext{
    position: absolute;
    text-align: left; 
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table{
    width: 200px;
    margin-top: 300px;
    margin-left: 1000px;
    table-layout: fixed;
}

.row{
    height: 40px;
    width: 100%;
}

.bt{
    position: absolute;
    height: 27px;
    width: 27px;
    cursor: pointer;
}

#resizebtn{
    visibility: hidden;
}



